.projectsContianer{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 15px;
}
.projectContainer{
    width: 50%;
    border: 1px solid #d4d4d4;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.image{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black
}
.projectTitle{
    text-align: center;
}
.description{
    margin-left: 30px;
    margin-right: 30px;
}
.link{
    padding: 10px;
    border: 1px solid #007bff;
    margin: 10px;
    color: #007bff;
    border-radius: 10px;
    font-weight: bold;
}
.link:hover{
    text-decoration: none;
    border: 1px solid #045ab6;
    color: #045ab6;
}
.links{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

@media only screen and (max-width: 660px) {
    .projectContainer{
        width: 100%;
    }
    .projectsContianer{
        width: 90%;
    }
}