h1{
    text-align: center;
}

.principalNav{
    background-color: #20232a ;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    text-align: center;
}
.baner{
    font-size: 24px;
    color: #61DBFB;
}
.baner:hover{
    color: #61DBFB;
    text-decoration: none;
}
.noUnder{
    text-decoration: none;
}